---
import Layout from "../layouts/Layout.astro";
import SideBar from "../components/SideBar.astro";
import SortVisualizer from "../components/sort-visualizer";
---

<Layout title="Algorithm Visualizer 🚀">
  <main class="flex bg-zinc-900">
    <SideBar />
    <SortVisualizer client:load />
  </main>
</Layout>

<style>
  html,
  body,
  main {
    height: 100%;
    margin: 0;
  }
</style>
